@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
/* ================================= 
  Base Element Styles
==================================== */
.intro {
	outline: #f08 solid thick;
}


header {

	background: linear-gradient(to top, #fff 3%, rgba(255,255,255,0.1) 15%),
	url("img/mountain.jpg") no-repeat center /cover;
	abackground-image: url("img/mountain.jpg");
	background-position: center;
	font-family: 'Poiret One', cursive;
	height: 600px;
	margin-bottom: 20px;
}

header h1 {
	font-size: 8em;
	margin: 0;
	text-align: center;
}

header h2 {
	text-align: left;
	font-size: 1em;
	margin-left: 10%;
}
rgba(231, 76, 60, 1.0)
footer {
	outline: #f08 solid thick;
}

/* ================================= 
  Base Layout Styles
==================================== */
/*.extra1 {
	
	background-color: rgba(231, 76, 60, .25);
	position: absolute;
	border: 5px solid rgba(255, 255, 255, .5);

	left: 10%;
	top: 32%;

	height: 250px;
	width: 250px;
	transform: rotate(45deg);
}*/

/*.extra2 {
	
	background-color: rgba(155, 89, 182, .25);
	position: absolute;
	border: 10px solid rgba(255, 255, 255, .5);

	left: 80%;
	top: 40%;

	height: 350px;
	width: 350px;
	transform: rotate(45deg);
}*/

.summary {
	font-family: 'Dancing Script', cursive;
	margin: -10px 10%;
	
	position: absolute;
	
	background-color: rgba(231, 76, 60, .25);
	border: 5px solid rgba(255, 255, 255, .5);

	left: 4%;
	top: 30%;
	
	border-radius: 10%;
	height: 250px;
	width: 250px;
}

.summary p {
	text-align: center;
	margin: 5%;
}

.summary a {
	color: #f8a;
}


.preamble {
	outline: #f08 solid thick;
}

.explanation {
	outline: #f08 solid thick;
}

.participation {
	outline: #f08 solid thick;
}

.benefits {
	outline: #f08 solid thick;
}

.requirements {
	outline: #f08 solid thick;
}

.sidebar {
	outline: #f08 solid thick;
}

.design-archives, .zen-resources {
	outline: #f08 solid thick;
}


/* ================================= 
  Media
==================================== */
@media (max-width: 950px) {
	header h1 {
	font-size: 6em;
	max-width: 960px;
	}
}

@media (max-width: 750px) {
	header h1 {
	font-size: 4em;
	max-width: 960px;
	}
}

@media (max-width: 500px) {
	header h1 {
	font-size: 3em;
	max-width: 960px;
	}
}