@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
/* ================================= 
  Base Element Styles
==================================== */
body {
	background-color: #f7f7f7;
}

header {
	background: linear-gradient(to top, #f7f7f7 3%, rgba(255,255,255,0.1) 8%),
	url("img/mountain.jpg") no-repeat center /cover;
	background-position: center;
	font-family: 'Poiret One', cursive;
	height: 600px;
	margin-bottom: 20px;
}

header h1 {
	font-size: 8em;
	color: white;
	text-shadow: 1px 1px 5px #bdc3c7;
	margin: 0;
	text-align: center;
}

header h2 {
	text-align: left;
	font-size: 1em;
	margin-left: 10%;
	color:#bdc3c7;
}

footer {
	border-top: #ecf0f1 solid;
	margin: 2%;
}

footer a {
	font-family: 'Dancing Script', cursive;
	color: #f8a;
}

/* ================================= 
  Base Layout Styles
==================================== */
.summary {
	font-family: 'Dancing Script', cursive;
	margin: -10px 10%;
	
	position: absolute;
	
	background-color: rgba(231, 76, 60, .25);
	border: 5px solid rgba(255, 255, 255, .5);

	left: 4%;
	top: 220px;
	
	border-radius: 20px;
	height: 150px;
	width: 250px;
}

.summary p {
	text-align: center;
	margin: 5%;
	color: #34495e;
}

.summary a {
	color: #f8a;
}

.preamble, .explanation, .participation, .benefits, .requirements {
	margin: 0 25% 0 2%;
}

.preamble a, .explanation a, .participation a, .benefits a, .requirements a {
	color: #f8a;
	font-family: 'Dancing Script', cursive;
}

.preamble h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	margin: 20px 0 0 0;
}

.preamble p {
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
}


.explanation h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	margin: 20px 0 0 0;
}

.explanation p {
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
}

 
.participation h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	margin: 20px 0 0 0;
}

.participation p {
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
}

.benefits h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	margin: 20px 0 0 0;
}

.benefits p {
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
}

.requirements::before {
	
	content: url("img/ice.jpg");
	position: absolute;
	left: 79%;
	top: 1200px;
}

.requirements h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	margin: 20px 0 0 0;
}

.requirements p {
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
}

.sidebar {
	position: absolute;
	
	background-color: rgba(231, 76, 60, .25);
	border: 5px solid rgba(255, 255, 255, .5);

	left: 77%;
	top: 620px;

	border-radius: 20px;
	height: 500px;
	width: 290px;

	list-style-type: none;
}

.sidebar h3{
	font-family: 'Dancing Script', cursive;
	margin-left: 15px;
	list-style-type: none;
	color: #34495e;
}

.sidebar ul {
	font-family: 'Dancing Script', cursive;
	list-style-type: none;
	color: #34495e;
}

.sidebar a {
	color: #f8a;
}


/* ================================= 
  Media
==================================== */
@media (max-width: 950px) {
	header h1 {
		font-size: 6em;
		max-width: 960px;
	}
}

@media (max-width: 750px) {
	header h1 {
		font-size: 4em;
		max-width: 960px;
	}
	.sidebar {
		position: absolute;
		
		background-color: rgba(231, 76, 60, .25);
		border: 5px solid rgba(255, 255, 255, .5);
	
		left: 75%;
		top: 620px;
	
		border-radius: 20px;
		height: 500px;
		width: 150px;
	
		list-style-type: none;
	}
	
	.sidebar h3{
		font-family: 'Dancing Script', cursive;
		margin-left: 15px;
		list-style-type: none;
		color: #34495e;
	}
	
	.sidebar ul {
		font-family: 'Dancing Script', cursive;
		list-style-type: none;
		color: #34495e;
		font-size: 10px;
	}
	
	.sidebar a {
		color: #f8a;
	}
}

@media (max-width: 500px) {
	header h1 {
	font-size: 3em;
	max-width: 960px;
	}
}